/* animation */
.moving-element {
  animation: moveLeft 4s linear infinite; /* Adjust animation duration and timing function as needed */
}
@keyframes moveLeft {
  0% {
    left: 0;
    width: 25%;
  }
  50% {
    left: 50%;
    width: 40%;
  }
  100% {
    left: 100%;
    width: 50%;
  }
}
